.Group_46 {
  position: absolute;
  width: 1440px;
  height: 180px;
  left: 0px;
  top: 2284px;
}

/*.Group_45 {
  position: absolute;
  left: 10.69%;
  right: 10.69%;
  top: 25%;
  bottom: 27.78%;
}*/

.Frame7{
  position: absolute;
  width: 435.38px;
  height: 85px;
  left: 850.62px;
  top: 45px;
}

.Rectangle3{
  height: 180px;
  width: 1440px;

  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #022447;
}

.Text{
  color: #FFFFFF;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;

  position: absolute;
  left: 10.69%;
  right: 53.88%;
  top: 32.22%;
  bottom: 34.44%;
}

.Frame8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 479px;
  height: 75px;
  left: 807px;
  top: 50px;
}

.aggie {
  position: static;
  width: 163px;
  height: 43px;
  left: 0px;
  top: 16px;

  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
  margin: 83px 0px;
}

.Instagram{
  position: static;
  width: 75px;
  height: 75px;
  left: 246px;
  top: 0px;

  flex: none;
  order: 1;
  align-self: center;
  flex-grow: 0;
  margin: 83px;
}

.Facebook {
  position: static;
  width: 75px;
  height: 75px;
  left: 404px;
  top: 0px;

  flex: none;
  order: 2;
  align-self: center;
  flex-grow: 0;
  margin: 83px 0px;
}