.header-container {
  display: flex;
  flex-direction:row;
  background-color: #F0F8FF;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  align-items: center;
  font-family: Aleo, sans-serif;

}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.title-page {
  margin-left: 2rem;
}

.navigation-container {
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  
}


.home {
  margin-left: 4rem;
  border: 0.1rem solid black;
  border-radius: 25px;
  border-color:#CEE8FF;
  background-color: #CEE8FF;
  padding: 7px;
}

.aboutus {
  margin-left: 1rem;
  border: 0.1rem solid black;
  border-radius: 25px;
  background-color: #F9F9F9;
  border-color:#C6E3FF;
  padding: 7px;
}

.peersupport {
  margin-left: 1rem;
  border: 0.1rem solid black;
  border-radius: 25px;
  background-color: #F9F9F9;
  border-color:#C6E3FF;
  padding: 7px;
}

.commmembers {
  margin-left: 1rem;
  border: 0.1rem solid black;
  border-radius: 25px;
  background-color: #F9F9F9;
  border-color:#C6E3FF;
  padding: 7px;
}

.members {
  margin-left: 1rem;
  border: 0.1rem solid black;
  border-radius: 25px;
  background-color: #F9F9F9;
  border-color:#C6E3FF;
  padding: 7px;
}

.contactus {
  margin-left: 1rem;
  border: 0.1rem solid black;
  border-radius: 25px;
  background-color: #F9F9F9;
  border-color:#C6E3FF;
  padding: 7px;
}

.events {
  margin-left: 1rem;
  border: 0.1rem solid black;
  border-radius: 25px;
  background-color: #F9F9F9;
  border-color:#C6E3FF;
  padding: 7px;
}

.resources {
  margin-left: 1rem;
  border: 0.1rem solid black;
  border-radius: 25px;
  background-color: #F9F9F9;
  border-color:#C6E3FF;
  padding: 7px;
}

.keyterms {
  margin-left: 1rem;
  border: 0.1rem solid black;
  border-radius: 25px;
  background-color: #F9F9F9;
  border-color:#C6E3FF;
  padding: 7px;
}
